* {
  font-family: "Gamja Flower", cursive;
  font-family: "Gothic A1", sans-serif;
  color: #020455;
}

.modal-dialog {
  margin-right: 0.5rem;
}

.scrollbar-inner{
  overflow: auto;
  height: 500px; 
}

.fade {
  opacity: 1 !important;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.241) !important;
}

.welcome-image {
  background-image: url("./assets/img/chocolate-full5.jpg");
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  background-color: rgba(100, 100, 81, 0.7);
}

.nav-link:hover {
  color: #ff6f61 !important;
}
li.nav-item > a.active {
  color: #ff6f61 !important;
}
.nav-link {
  color: #020455 !important;
}
.text-blue {
  color: #020455 !important;
}

.text-orange {
  color: #ff6f61 !important;
}

.bg-orange {
  background-color: #ff6f61;
}
.btn-orange {
  background-color: #ff6f61 !important;
}

.card-img-hover {
  display: block;
}

.nav-link {
  font-family: "Gamja Flower", cursive;
  font-size: 1.3rem;
}

.heading {
  font-family: "Gamja Flower", cursive;
}

.card {
  border: none !important;
}
.card-img-hover {
  display: block;
}

.lift {
  position: absolute;
}

.flow {
  width: 683px;
  height: 530px;
  object-fit: contain !important;
}

.organic-radius {
  border-radius: 63% 37% 30% 70%/50% 45% 55% 50%;
}

ul.ingredients {
  padding: 30px;
  list-style: none;
  background: #f9f9f9;
}
ol.directions > li {
  margin-bottom: 30px;
  padding-left: 20px;
}
.ingredients li {
  border-bottom: 1px dashed #dedede;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.timeline {
  width: 100%;
}
.timeline.timeline-one .timeline-item {
  position: relative;
  width: 50%;
  margin-left: 50%;
  padding-bottom: 2.75rem;
  padding-left: 2.75rem;
  text-align: left;
}

@media (max-width: 575.98px) {
  .timeline.timeline-one .timeline-item {
    width: 100%;
    margin-left: 0;
  }
}

.timeline.timeline-one .timeline-item img {
  margin-bottom: 1.25rem;
}
.timeline.timeline-one .timeline-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 0.425rem;
  margin-left: -0.5rem;
  border: 0.0625rem solid #dce6f3;
  border-radius: 50%;
}
.timeline.timeline-one .timeline-item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: -0.1875rem;
  width: 0.0625rem;
  margin-top: 1.875rem;
  margin-left: -0.0625rem;
  background-color: #dce6f3;
}
.timeline.timeline-one .timeline-item:nth-child(2n + 1) {
  margin-left: 0;
  padding-right: 2.75rem;
  padding-left: 0;
  text-align: right;
}

@media (max-width: 575.98px) {
  .timeline.timeline-one .timeline-item:nth-child(2n + 1) {
    padding-right: 0;
    padding-left: 2.75rem;
    text-align: left;
  }
}
.timeline.timeline-one .timeline-item:nth-child(2n + 1):after,
.timeline.timeline-one .timeline-item:nth-child(2n + 1):before {
  right: 0;
  left: auto;
}

@media (max-width: 575.98px) {
  .timeline.timeline-one .timeline-item:nth-child(2n + 1):after,
  .timeline.timeline-one .timeline-item:nth-child(2n + 1):before {
    right: auto;
    left: 0;
  }
}
.timeline.timeline-one .timeline-item:nth-child(2n + 1):before {
  margin-right: -0.5rem;
}
.timeline.timeline-one .timeline-item:nth-child(2n + 1):after {
  margin-right: -0.0625rem;
}
.timeline.timeline-one.dark .timeline-item:before {
  border: 0.0625rem solid #b7c3d2;
}
.timeline.timeline-one.dark .timeline-item:after {
  background-color: #b7c3d2;
}
.modal-content {
  height: 100%;
}
